nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;

  &.fixed{
    position: fixed;
    top: 0;
    transition: 0.3s;
    height: 45px;
    z-index: 99;
    width: 100%;
    background: $light;
  }

  .logo{
    color: $dark;
    cursor: pointer;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-left: 24px;
    @extend %align-center;
  }

  .open-menu{
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;

    @include lg{
      display: block;
    }
  }

  .main-menu{
    display: flex;

    &-links{
      color: $dark;
      @extend %align-center;
      justify-content: center;
      padding: 0 1rem;

      &:hover{
        color: $blue;
        transition: all 0.2s ease;
      }

      @include lg{
        font-size: 2rem;
        margin-bottom: 10px;
      }
    }


    @include lg{
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: top 1s ease;
      background: $light;
      color: $dark;
      display: none;
    }
  }

  .close-menu{
    font-size: 2rem;
    display: none;
    cursor: pointer;

    @include lg{
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }
}


.hero{
  &-container{
    position: relative;
    img{
      position: relative;
      width: 100%;
      height: 100vh;
      background-size: cover;

      @include xl{
        height: 100%;
      }
    }
    &-buttons{

      .prev-btn{
        @extend %slider-button-left;

        @include tablet{
          font-size: 2rem;
        }
      }
      .next-btn{
        @extend %slider-button-right;

        @include tablet{
          font-size: 2rem;
        }
      }
    }
  }
}