.gallery{
  @extend %heading-underline;

  &-box{
    display: flex;
    text-align: center;

    @include tablet{
      display: block;
    }

    &-content{
      float: left;
      width: 25%;
      margin-top: 5px;
      padding: 5px;

      @include tablet{
        width: 100%;
        padding: 10px;
      }

      img{
        width: 100%;

        &:hover{
          transition: 0.5s ease;
          transform: scale(1.02);
        }
      }

      h4{
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}